.self_verified {
  color: #007bff;
}

.request-list {
  list-style-type: none;
}

.w-15 {
  width: 15% !important;
}

.card-filter-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.dropdown-danger {
  color: #fff;
  background-color: #dc3545;
}

.dropdown-danger:hover {
  color: #fff;
  background-color: #c82333;
}