{% extends "base.html" %}

{% block content %}
<h1>List of Hospitals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Hospital Name</th>
      <th scope="col">Address</th>
      <th scope="col">Contact Info</th>
    </tr>
  </thead>
  <tbody>
    {% for hospital in hospitals %}
    <tr>
      <td><a href="{{ url_for('hospital', id=hospital.id) }}">{{ hospital.name }}</a></td>
      <td>{{ hospital.address }}</td>
      <td>{{ hospital.contact }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
