{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ macros.input(form.username) }}
      {{ macros.input(form.password) }}
      <p>{{ macros.submit_button(form.submit) }}</p>
    </form>

    <p>
      Forgot Your Password?
      <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
    </p>
  </div>
</div>
{% endblock %}
