{% macro error_macro(entry) -%}
{% for error in entry.errors %}
<div class="invalid-feedback">
  {{ error }}
</div>
{% endfor %}
{%- endmacro %}

{% macro input(entry, error=True, size=32, placeholder='') -%}
  <div class="form-group">
    {{ entry.label }}
    {% if error %}
      {{ entry(size=size, class_='form-control '+ valid_class(entry), placeholder=placeholder) }}
      {{ error_macro(entry) }}
    {% else %}
      {{ entry(size=size, class_='form-control', placeholder=placeholder) }}
    {% endif %}
  </div>
{%- endmacro %}

{% macro input_side(entry, error=True, size=32, placeholder='') -%}
  <div class="form-row">
    <div class="col-md-3 mb-3">
      {{ entry.label }}
    </div>
    <div class="col-md-9 mb-3">
      {% if error %}
        {{ entry(size=size, class_='form-control '+ valid_class(entry), placeholder=placeholder) }}
        {{ error_macro(entry) }}
      {% else %}
        {{ entry(size=size, class_='form-control', placeholder=placeholder) }}
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro submit_button(entry) -%}
  {{ entry(class_='btn btn-primary btn-lg btn-block') }}
{%- endmacro %}

{% macro small_submit_button(entry) -%}
  {{ entry(class_='btn btn-primary') }}
{%- endmacro %}

{% macro order_status(status, index) -%}
   {% if status.name == 'received' or status.name == 'verified' %}
     <span id="verify-icon-{{ index }}" class="badge badge-success">{{ status.name }}</span>
   {% else %}
     <span id="verify-icon-{{ index }}" class="badge badge-danger">pending</span>
   {% endif %}
{%- endmacro %}

{% macro user_link(username) -%}
  <span class="user_popup">
    <a href="{{ url_for('user_page', username=username) }}">
      {{ username }}
    </a>
  </span>
{%- endmacro %}

{% macro verified_icon(user_verified, verification_list, self_verified=False) -%}
 {% if user_verified %}
   <button type="button" class="close float-none" data-placement="right" data-toggle="tooltip" title="{{ verified_text(verification_list) }}">
     <i class="fas fa-user-check {% if self_verified %}self_verified{% endif %}"></i>
   </button>
 {% endif %}
{%- endmacro %}

{% macro verified_text(verification_list) -%}
  {% if verification_list|length == 0 %}
    Verified user
  {% elif verification_list|length == 1 %}
    Verified by {{ verification_list[0].username }}
  {% elif verification_list|length == 2 %}
    Verified by {{ verification_list[0].username }} and {{ verification_list[1].username }}
  {% else %}
    Verified by {{ verification_list[0].username }}, {{ verification_list[1].username }} and more
  {% endif %}
{%- endmacro %}

{% macro status_text(type, quantity = 0) -%}
  {% if type == 'requested' %}
    Request received
  {% elif type == 'looking' %}
    Looking for donors
  {% elif type == 'matched' %}
    Matched with a donor
  {% elif type == 'sent' %}
    Donor sent {{ quantity }} units
  {% elif type == 'completed' %}
    Request completed
  {% else %}
    {{ type }}
  {% endif %}
{%- endmacro %}