{% extends "base.html" %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/verify-donation.js') }}"></script>

<div class="row">
  <div class="col-md-3">
    <h5 class="card-title">User: {{ current_user.username }} {% if is_verified(current_user) %}<i class="fas fa-user-check"></i>{% endif %}</h5>
  </div>

  <div class="col-md-9">
    <h2>Your dashboard</h2>

    <p>
      {% if is_doctor(current_user) %}
      <a href="{{ url_for('request') }}" class="btn btn-primary btn-lg">Request PPE</a>
      {% endif %}
      {% if is_donor(current_user) %}
      <a href="{{ url_for('donation_log') }}" class="btn btn-primary btn-lg">Find PPE Requests</a>
      {% endif %}
    </p>
    {% if is_admin(current_user) %}
    <p>
      <a href="{{ url_for('add_supply_type') }}" class="btn btn-primary btn-lg">Add PPE Type</a>
      <a href="{{ url_for('create_hospital') }}" class="btn btn-primary btn-lg">Add Hospital</a>
    </p>
    <p>
      <a href="{{ url_for('create_account') }}" class="btn btn-primary btn-lg">Create Account</a>
      <a href="{{ url_for('validate_account') }}" class="btn btn-primary btn-lg">Validate Account</a>
    </p>
      {% endif %}
  </div>
</div>

{% if is_doctor(current_user) %}
{% include '_request_list.html' %}
{% endif %}

{% if is_donor(current_user) %}
{% include '_donation_list.html' %}
{% endif %}

{% endblock %}
