{% extends "base.html" %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/verify-donation.js') }}"></script>

<div class="row">
  <div class="col-md-3">
    <h5 class="card-title">User: {{ current_user.username }}</h5>
  </div>

  <div class="col-md-9">
    <h2>Your dashboard</h2>

    <p>
      <a href="{{ url_for('donate') }}" class="btn btn-primary btn-lg">Donate PPE</a>
      {% if is_admin(current_user) %}
      <a href="{{ url_for('add_supply_type') }}" class="btn btn-primary btn-lg">Add PPE Type</a>
      <a href="{{ url_for('create_hospital') }}" class="btn btn-primary btn-lg">Add Hospital</a>
      <a href="{{ url_for('create_account') }}" class="btn btn-primary btn-lg">Create Account</a>
      {% endif %}
    </p>
  </div>
</div>

<h2>My donations:</h2>

<div class="accordion" id="donation-list">
  {% for donation_group in donations %}
  <div class="card">
    <div class="card-header">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ loop.index }}">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      Donation to <a href="{{ url_for('hospital_view', id=donation_group.hospital_id) }}">{{ donation_group.hospital }}</a> on {{ donation_group.timestamp }} {{ macros.order_status(donation_group.order_status, loop.index) }} {% if is_admin(current_user) and donation_group.order_status.name == 'pending' %} <a href="javascript:verify_donation('#verify-icon-{{ loop.index }}', '#verify-link-{{ loop.index }}', {{ donation_group.id }});" id="verify-link-{{ loop.index }}">Mark as verified</a>{% endif %}
    </div>
    <div id="collapse-{{ loop.index }}" class="collapse" aria-labelledby="headingThree" data-parent="#donation-list">
      <div class="card-body">
        <ul class="mb-0 list-group list-group-flush">
          {% for donation in donation_group.donations %}
          <li class="list-group-item">{{ donation.quantity }} units of {{ donation.supply }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
