{% extends "base.html" %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/verify-donation.js') }}"></script>

<div class="row">
  <div class="col-md-3">
    <h5 class="card-title">User: {{ current_user.username }} {{ macros.verified_icon(is_verified(current_user), verifications) }}</h5>
  </div>

  <div class="col-md-9">
    <h2>Your dashboard</h2>

    <p>
      {% if is_doctor(current_user) %}
      <a href="{{ url_for('request') }}" class="btn btn-primary btn-lg">Hospital Needs</a>
      {% endif %}
      {% if is_donor(current_user) %}
      <a href="{{ url_for('donation_log') }}" class="btn btn-primary btn-lg">Find Item Requests</a>
      <a href="{{ url_for('verify_list') }}" class="btn btn-primary btn-lg">Verify new users</a>
      {% endif %}
    </p>
    {% if is_admin(current_user) %}
    <p>
      <a href="{{ url_for('add_supply_type') }}" class="btn btn-primary btn-lg">Add Item</a>
      <a href="{{ url_for('create_hospital') }}" class="btn btn-primary btn-lg">Add Hospital</a>
    </p>
    <p>
      <a href="{{ url_for('create_account') }}" class="btn btn-primary btn-lg">Create Account</a>
    </p>
      {% endif %}
  </div>
</div>

<hr />

{% if is_doctor(current_user) %}
{% set user = current_user %}
{% set page_title = "Recent Item requests:" %}
<div class="row justify-content-md-center">
  <div class="col-md-8">
    {% include '_request_list.html' %}
  </div>
</div>
{% endif %}

{% if is_donor(current_user) %}
{# {% include '_donation_list.html' %} #}
{% include '_pledge_list.html' %}
{% endif %}

{% endblock %}
